
<!DOCTYPE html>
<html>
  <head>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/bootstrap-switch/css/bootstrap-switch.css">
  <link rel="stylesheet" href="/mycss/my_alert.css" />
  <link rel="stylesheet" href="/mycss/my_progress.css" />
  <link rel="stylesheet" href="/mycss/my_shark.css" />
  <link rel="stylesheet" href="/bootstrap-table/bootstrap-table.css" />
  <script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="/bootstrap-switch/js/bootstrap-switch.js" ></script>
  <script type="text/javascript" src="/myjs/my_alert.js" ></script>
  <script type="text/javascript" src="/myjs/my_progress.js" ></script>
  <script type="text/javascript" src="/myjs/my_shark.js" ></script>
  <script type="text/javascript" src="/bootstrap-table/bootstrap-table.js" ></script>
  <script type="text/javascript" src="/bootstrap-table/locale/bootstrap-table-zh-CN.js" ></script>

    <meta charset="utf-8" />
    <title><%= title%></title>

	
	
	<link rel="stylesheet" href="/mycss/login.css" />

	<script type="text/javascript" src="/myjs/login.js" ></script>

	
	
  </head>
  
  <body>
  

</div>
  	
    <div class="container-fluid">
		<span></span>
		<h1 class="text-hide">Custom heading</h1>
      <!--<form class="form-signin" action="login" method="post">-->
      <form class="form-signin" id="loginform" action="home" method="post">
        <h2 class="form-signin-heading mar5css">请登录</h2>
        <label for="inputEmail" class="sr-only">用户名</label>
        <input type="text" id="username" name="username" class="form-control mar5css" placeholder="用户名" required="" autofocus="">
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" name="password" class="form-control mar5css" placeholder="密码" required="">
        <div class="mar5css">
          <label>
            <input id="save_me" type="checkbox" name="my-checkbox" value="remember-me">记住我
          </label>
        </div>
        <!--<button class="btn btn-lg btn-primary btn-block mar5css" type="submit">登录</button>-->
        <button id="loginbtn" class="btn btn-lg btn-primary btn-block mar5css" type="button" onclick="loginbtnClick()">登录</button>
      </form>
<span></span>
    </div>
    
    
    




<!--<div class="modal fade" id="m1" data-backdrop = "static">
  <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p>111</p>
  </div>
</div>-->
  </body>
</html>
